:root {
    --auth-box-radius: 40px;
}

.is-mono-bold {
    background: linear-gradient(45deg, #6372CD, #D89B9E);
}

.nav-element {
    color: #2E3134;
    transition: .3s;
    font-size: 20px;
    padding-bottom: 3px;
    float: right;
    margin-right: 28px;
}

.nav-element:hover {
    color: black;
    padding-left: 8px;
    margin-right: 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.home .label {
    color: #f5f5f5;
}

.card {
    cursor: pointer;
	word-wrap: break-word;
    box-shadow: 0px 0px 10px 0px #4d5375;
    transition: .3s;
}

.card-header {
	border-radius: 20px 20px 0 0;
}

.is-roundedshit {
	border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 10px 20px #6b5859;
    transform: translate(0px, -5px) scale(1.025);
}
